<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Your running low on  <%= @coin.name.pluralize %>!</p>
    <p>
    Coin details<br>
    --------------------------
    </p>
    <p>Coin Name: <%= @coin.name %></p>
    <p>Current Value: <%= @coin.value %></p>
    <p>Coin Count: <%= @coin.value %></p>
    
    
  </body>
</html>